.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}

body {
  padding-top: 20px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
@keyframes jump {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: none;
  }
}
.fa-search:hover,
.fa-bars:hover {
  animation: jump 1s linear infinite;
}
@keyframes swing {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(40deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: rotateZ(-40deg);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-music:hover {
  animation: swing 1s linear infinite;
}
@keyframes wow {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-comment-dots:hover,
.fa-comment-alt:hover {
  animation: wow 1s linear infinite;
}
